.qv-object-OverlaidBarChart div.qv-object-content-container {
	overflow: auto;
}
.qv-object-OverlaidBarChart td,
.qv-object-OverlaidBarChart th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-OverlaidBarChart td.numeric {
	text-align: right;
}
.qv-object-OverlaidBarChart button {
	width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
     display: none; 
}
